body{
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}
.holder{
  width: 960px;
  margin:0 auto;  
}
h2{
  font-family: 'Handlee', cursive;
  color:#00c2cb;
  font-size: 2em;
  font-weight: 400;
  margin: 0 0 1em;
}
.left{float:left;}
.right{float:right;}
main{
  text-align: justify;    
}
